html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  color: #333;
  overflow: auto;
}

.message {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.playerGrid, .roleGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.playerItem {
  text-align: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.roleItem {
  text-align: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}
.playerItem img, .roleItem img {
  width: 100px;
  height: 150px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s;
}

.playerItem img:hover, .deckGrid img:hover, .roleItem img:hover {
  /* transform: scale(1.1); */
}

.playerItem button, .roleItem button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #ff4d4d;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.playerItem button:hover, .roleItem button:hover {
  background-color: #ff1a1a;
}

.deckGrid {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.deckGrid img {
  width: 100px;
  height: 150px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2, h3 {
  text-align: center;
  margin-bottom: 20px;
}

.currentRole img {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 150px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.currentPhase, .logs, .voteResults, .gameConfig {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.voteResults p {
  color: #ff4d4d;
  font-weight: bold;
}

.logs ul, .voteResults ul {
  list-style: none;
  padding: 0;
}

.logs ul li, .voteResults ul li {
  background-color: #fff;
  border: 1px solid #ddd;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 5px;
}
.infoIcon {
  position: absolute;
  top: 3px;
  right: 3px;
  cursor: pointer;
  font-size: 11px;
  text-align: center;
  width: 13px;
  height: 13px;
  background-color: #ff4d4d;
  color:white;
  border-radius: 50%;
}

.tooltip {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  white-space: nowrap;
  z-index: 1000;
}
.onlineStatus{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
}
/* 媒体查询 */
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .playerGrid, .roleGrid {
    grid-template-columns: repeat(3, 1fr);
  }

  .playerItem img, .roleItem img {
    width: 80px;
    height: 120px;
  }

  .deckGrid img {
    width: 80px;
    height: 120px;
  }

  .currentRole img {
    width: 80px;
    height: 120px;
  }

  .playerItem button, .roleItem button {
    padding: 5px;
  }
  
}

